NODE_ENV=development
PORT=3002
DB_URL=mongodb://username:password@localhost:27017/vaihtoaktivaattori # Update with your MongoDB credentials if using local installation
TECH_PARTNERS_EN=https://www.metropolia.fi/en/international-relations/partner-institutions/technology
TECH_PARTNERS_FI=https://www.metropolia.fi/fi/metropoliasta/organisaatio-ja-strategia/kansainvalisyys/yhteistyokorkeakoulut/tekniikka
CULTURE_PARTNERS_EN=https://www.metropolia.fi/en/international-relations/partner-institutions/culture
CULTURE_PARTNERS_FI=https://www.metropolia.fi/fi/metropoliasta/organisaatio-ja-strategia/kansainvalisyys/yhteistyokorkeakoulut/kulttuuri
BUSINESS_PARTNERS_EN=https://www.metropolia.fi/en/international-relations/partner-institutions/business
BUSINESS_PARTNERS_FI=https://www.metropolia.fi/fi/metropoliasta/organisaatio-ja-strategia/kansainvalisyys/yhteistyokorkeakoulut/liiketalous
HEALTH_PARTNERS_EN=https://www.metropolia.fi/en/international-relations/partner-institutions/health-care-and-social-services
HEALTH_PARTNERS_FI=https://www.metropolia.fi/fi/metropoliasta/organisaatio-ja-strategia/kansainvalisyys/yhteistyokorkeakoulut/sosiaali-ja-terveysala
