NODE_ENV=development
PORT=3003
DB_URL=mongodb://username:password@localhost:27017/vaihtoaktivaattori # Update with your MongoDB credentials if using local installatioGOOGLE_CLIENT_ID=
JWT_SECRET=

# in dev
PUBLIC_UPLOADS_URL=http://localhost:3003/uploads
UPLOAD_PATH=./uploads

# in production the uploads url needs to be the servers url
