NODE_ENV=development
PORT=3003
DB_URL=mongodb://username:password@localhost:27017/vaihtoaktivaattori # Update with your MongoDB credentials if using local installation or add a mongo URI if using a cloud service
JWT_SECRET=create_a_strong_jwt_secret_and_put_it_here-you-can-use-a-random-string-generator-or-smash-your-keyboard

# in dev
PUBLIC_UPLOADS_URL=http://localhost:3003/uploads
UPLOAD_PATH=./uploads

# in production the uploads url needs to be the servers url
